.mobile {
  background-color: #fdf;
  height: 100vh;
  width: 60vh;
  position: absolute;
  right: 0px;
  top: -6px;
  padding: 18px 12px;
  display: flex;
  flex-direction: column;
}

.close-icon {
  display: flex;
  font-size: 24px;
  justify-content: flex-end;
}

.mobile-options {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-top: 24px;
  justify-content: center;
  align-items: center;
}

.mobile-option {
  font-size: 24px;
  font-weight: 700;
  margin: 12px 0px;
  display: flex;
}

.mobile-option a {
  text-decoration: none;
  color: black;
  display: flex;
}
