.about {
  padding-bottom: 60px;
}

.about-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.picture {
  height: 420px;
}

.about-info {
  font-size: 24px;
}

.info-name {
  color: blue;
  font-size: 32px;
}

@media only screen and (max-width: 720px) {
  .about-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .picture {
    height: 350px;
  }

  .about-info {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .info-name {
    font-size: 26px;
  }
}
